<div>Monolithic - Photo Gallery</div>

<form>
    <label for="imageName">~Upload image </label>
    <input id="imageName" type="text" ng-model="$ctrl.imageName" />
    <button ng-click="$ctrl.uploadImage()"> Upload now! </button>
    <div>
        <table>
            <thead>
                <tr>
                    <th>
                        Name
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in $ctrl.images">
                    <td>
                        {{item.imageName}}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</form>